# Database
DATABASE_URL="postgresql://neondb_owner:npg_97tEgTcSDeuy@ep-young-mouse-airptfgy-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
APP_NAME=Task Management System
DEBUG=True
CORS_ORIGINS=https://task-management-system-qia4.onrender.com/
